.main-container {
  background-color: #161624;
  background-size: cover;
  padding: 10px 20px;
  color: #f8fafc;
}
ul {
  list-style-type: none;
  border: 1px solid #f1f5f9;
  border-radius: 5px;
}
.visited-country-list-card {
  list-style-type: none;
  border: 1px solid #f1f5f9;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}
